header {
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);   
    margin-bottom: 10px;  
    background-color: rgb(233, 120, 79);
}
.logo {
    margin-top: 10px;
    vertical-align:middle;
    margin-bottom: 10px;
    margin-left: 10px;
 }
 .box {
    display: flex;
    align-items:center;
    top:0px;
 }
 .t {
    font-size: 25px;
    font-family: 'Dancing Script';
    font-weight: bold;
 }
 .example-spacer {
   flex: 1 1 auto;
 }