header {
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);   
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: rgb(233, 120, 79);
}
.logo {
    margin-top: 10px;
    vertical-align:middle;
    margin-bottom: 10px;
    margin-left: 10px;
 }

 .t {
    font-size: 25px;
    font-family: 'Dancing Script';
    font-weight: bold;
 }