
<app-header></app-header>

<div class="center-text center-image vertical-align-middle">
  <img width="15%" src="assets/img/buddhas/buddha.jpg">
  <br>
  <br>
  <span>Für welchen Zweck suchst du ein Mantra?</span>
  <br>
  
  <mat-form-field style="width:50vw" appearance="fill">
    <input type="text"class="input-underline searchbar" placeholder="z.B. Mitgefühl" matInput [formControl]="myControl"
         [matAutocomplete]="auto" >
       <mat-autocomplete #auto="matAutocomplete">
         <mat-option *ngFor="let option of filteredOptions  | async" [value]="option">
           {{option}}
        </mat-option>
    </mat-autocomplete>
    <button type="submit" class="search-button">
      <img src="assets/img/lupe.png"> 
    </button>
  </mat-form-field>
  <br>
  
</div>
