<br>
<br><br><br><br><br><br><br>
<h1>Was ist ein Mantra?</h1>
Mantra (Sanskrit: मन्त्र, mantra m. ‚Spruch, Lied, Hymne‘) bezeichnet eine heilige Silbe, ein heiliges Wort oder einen heiligen Vers. <br>
Diese sind „Klangkörper“ einer spirituellen Kraft, die sich durch meist repetitives Rezitieren im Diesseits manifestieren soll. <br>
Diese Wiederholungen des Mantras oder des Namens einer Gottheit werden manchmal auch Japa oder Nama-Japa genannt. <br>
Mantras können entweder sprechend, flüsternd, singend oder in Gedanken rezitiert werden. <br>
Sie können auch aufgeschrieben (Likhita-Japa) und in dieser Form sogar gegessen werden. <br>
Im Hinduismus, im Buddhismus und im Yoga ist das Rezitieren von Mantras während der Meditation üblich.<br>
Häufg ist es üblich die Mantras mit Hilfe einer <a href="https://de.wikipedia.org/wiki/Mala_(Gebetskette)">Mala (Gebetskette)</a> zu zählen<br>
<br>
<br>
<img src="../assets/img/mala.jpg" alt="Mala">
<br>
<br>
<br>
