/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body {  margin: 0px; padding:0px; border:0px;}
body { margin: 0px; padding:0px; font-family: Roboto, "Helvetica Neue", sans-serif; }
html{
    margin:0px;
    
  }
  a {
    display: inline-block;
    transition: .3s;
    font-weight:bold;
    text-decoration:none;
    color: black;
    margin:8px;
    }
    a:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    margin:8px;
    color: black;
    }